.swiper-container,
.swiper-slide {
    -webkit-user-select: none; /* Chrome, Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE10+ */
    user-select: none;         /* Non-prefixed version */
}

.swiper-container {
    touch-action: pan-y; /* Ensures touch events only for vertical scrolling */
    overflow: hidden;    /* Hide overflow to prevent dragging outside */
}

/* Default cursor style */
.swiper-container {
    cursor: grab; /* Cursor for when not dragging */
}

/* Cursor style when dragging */
.swiper-container.grabbing {
    cursor: grabbing; /* Cursor for when dragging */
}

.swiper-wrapper {
    display: flex; /* Flexbox for layout */
}

.swiper-slide {
    flex: 0 0 100%; /* Ensure slides take full width of the container */
    height: 100%; /* Ensure slides take full height of the container */
    box-sizing: border-box;
}

.swiper-slide img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    pointer-events: none; /* Disable mouse events on images */
    user-drag: none;
}

/* Default cursor */
.swiper-container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden; /* Hide overflow */
}

/* Cursor during dragging */
.swiper-container.grabbing {
    cursor: grabbing; /* Cursor when dragging */
}

/* Style for custom next button */
.swiper-button-custom-next {
    position: absolute;
    top: 50%;
    right: 10px; /* Position from the left edge */
    transform: translateY(-50%); /* Center vertically */
    background-color: transparent; /* Semi-transparent background */
    color: #fff; /* Icon color */
    width: 50px; /* Equal width and height for a perfect circle */
    height: 50px;
    border-radius: 50%; /* Rounded button */
    cursor: pointer;
    z-index: 10; /* Ensure it's above the slider */
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white; /* Thicker border to make it more visible */
    transition: 0.3s ease-in;
    font-size: 20px; /* Adjust font size to control arrow size */
    line-height: 1; /* Ensure proper centering */
}

.swiper-button-custom-next i {
    position: absolute;
    top: 27%;
    left: 30%;
}

/* Style for custom prev button */
.swiper-button-custom-prev {
    position: absolute;
    top: 50%;
    left: 10px; /* Position from the left edge */
    transform: translateY(-50%); /* Center vertically */
    background-color: transparent; /* Semi-transparent background */
    color: #fff; /* Icon color */
    width: 50px; /* Equal width and height for a perfect circle */
    height: 50px;
    border-radius: 50%; /* Rounded button */
    cursor: pointer;
    z-index: 10; /* Ensure it's above the slider */
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white; /* Thicker border to make it more visible */
    transition: 0.3s ease-in;
    font-size: 20px; /* Adjust font size to control arrow size */
    line-height: 1; /* Ensure proper centering */
}

.swiper-button-custom-prev i {
    position: absolute;
    top: 27%;
    left: 30%;
}

/* Optional: Hover effects */
.swiper-button-custom-next:hover,
.swiper-button-custom-prev:hover {
    background-color: #0563aa;
    border: 1px solid #0563aa;
    transition: 0.3s ease-in;
}


.centered-paragraph {
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.8); /* White background with 80% opacity */
    padding: 20px;
    font-family: "Roboto", sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    width: 50%;
    color: #555;
}

.centered-paragraph h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #555;
}

.logo-img {
    height: 40px;
    width: auto;
}

#navbar_sticky {
    z-index: 100;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

#dropdownMenuLink {
    background-color: #0563aa;
    border: none;
}

.dropdown-item:active {
    background-color: #0563aa;
}

.dropdown-custom {
    min-width: 5rem;
}

#about_h {
    margin-top: 40px;
}

.section-title {
    display: flex;
    align-items: center;
    text-align: center;
    color: #555;
    font-size: 19px;
}

.section-title:before,
.section-title:after {
    content: '';
    flex: 1;
    height: 1px;
    background-color: #ccc; /* Line color */
}

.section-title:before {
    margin-right: 10px; /* Space between line and text */
}

.section-title:after {
    margin-left: 10px; /* Space between line and text */
}

.section-title span {
    font-size: 18px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.1); /* Text color */
    background-color: white; /* Background color behind text */
    padding: 0 10px; /* Padding to add space between text and background */
}

#about_h_2 {
    background-color: rgb(241, 248, 233);
}

h4 {
    font-family: Roboto, sans-serif;
    color: #555;
    font-size: 23px;
}

.main-content ul li {
    font-family: Roboto, sans-serif;
}

.footer {
    background-color: #0563aa;
}

.footer span {
    font-size: 25px;
}

.footer span, .footer p {
    color: white;
    font-family: 'Roboto', sans-serif;
}

.contact-buttons {
    margin-left: auto;
}

.footer .contact-buttons a {
    background: #9ed22d;
    padding: 12px;
    font-family: Roboto, sans-serif;
}

.main-content img {
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

.custom-img-resolution img {
    width: 250px;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
}

#team-section {
    text-align: center;
    padding: 20px;
    background-color: rgb(241, 248, 233);
}

.team-members {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.team-member {
    border-radius: 50%;
    padding: 20px;
    text-align: center;
}

.member-photo img {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.member-info {
    margin-top: 15px;
}

.member-info h3 {
    font-size: 18px;
    margin-bottom: 5px;
    color: #333;
}

.member-info h4 {
    font-size: 16px;
    margin-bottom: 15px;
}

.member-info ul {
    padding: 0;
    font-size: 14px;
    color: #555;
    text-align: left;
    margin: 0 auto;
    width: 80%;
}

.member-info ul li {
    margin-bottom: 10px;
    font-size: 13px;
}

.news-grid {
    display: grid;
    grid-template-columns: repeat(3, 300px); /* Three equal-width columns */
    gap: 20px; /* Space between grid items */
    justify-items: center; /* Center items if there are fewer than three in a row */
    justify-content: center;
}

.news-item {
    padding: 5px;
    border-radius: 5px;
    text-align: left;
}

.news-item h3 {
    font-size: 12px;
    font-family: Roboto, sans-serif;
}

.news-item a {
    color: #0563aa;
    font-size: 12px;
}

.news-item a:hover {
    color: black;
}

/* Target the last row */
.news-grid > .news-item:nth-last-child(-n+3) {
    margin: 0 auto;
}

.about_h2i2 h5 {
    font-size: 16px;
}

.custom-row {
    padding: 20px;
}
.custom-col {
    text-align: center;
    padding: 20px;
    margin: 5px 0;
}

.custom-col img {
    width: 120px;
    height: 120px;
}

.fw-bold {
    font-size: 18px;
}

.custom-font-size p, .custom-font-size li {
    font-size: 14px;
    line-height: 1.8;
}

.row {
    display: flex;
    align-items: center; /* Vertically centers the content within the row */
}

.custom-margin {
    margin: 30px;
}

.main-content img {
    width: 80%;
    height: auto;
}

.container {
    width: 80%;
}

.text-align-right {
    text-align: right;
}

.custom-container {
    width: 100%;
}

.about_h2i2 h5 {
    font-size: 14px;
}

.about_h2i2 p {
    font-size: 10px;
}