/* external css: flickity.css, fullscreen.css */

* { box-sizing: border-box; }

body { font-family: sans-serif; }

.carousel {
    background: transparent;
}

.carousel-image {
    display: block;
    height: 300px;
    min-width: 150px;
    max-width: 100%;
    margin-right: 30px;
    /* vertically center */
}

.carousel.is-fullscreen .carousel-image {
    top: 12%;
    height: auto;
    width: 100%;
    max-width: 1000px;
    object-fit: cover;
}

@media (max-width: 768px) {
    .carousel-image {
        display: block;
        height: 150px;
        min-width: auto;
        max-width: 150px;
        margin-right: 30px;
        object-fit: cover;
    }

    .carousel.is-fullscreen .carousel-image {
        top: 24%;
        height: auto;
        width: 300px;
        object-fit: cover;
    }
}
