@media (max-width: 992px) {
    .centered-paragraph {
        top: 60%;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.8); /* White background with 80% opacity */
        padding: 20px;
        left: 10%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        border-radius: 8px;
        width: 80%;
    }

    .centered-paragraph h3 {
        font-size: 20px;
    }

    .centered-paragraph p {
        font-size: 14px;
    }
}


.mobile-logo {
    text-align: center;
}

#dropdownMenuLinkMobile, #dropdownMenuLinkMobileContact {
    background-color: #0563aa;
}

@media (max-width: 480px) {
    .news-grid {
        grid-template-columns: 1fr; /* Stack items on top of each other on smaller screens */

    }

    .news-item {
        width: 300px;
        height: auto;
        text-align: center;
    }
}

@media (min-width: 480px) and (max-width: 780px) {
    .news-grid {
        grid-template-columns: repeat(2, 2fr); /* Stack items on top of each other on smaller screens */
    }
}

@media (min-width: 780px) and (max-width: 990px) {
    .news-grid {
        grid-template-columns: repeat(2, 300px); /* Stack items on top of each other on smaller screens */
    }


    .custom-col img {
        width: 170px;
        height: 170px;
    }
}

@media (max-width: 800px) {
    #first-section {
        text-align: center;
    }

    .custom-col img {
        width: 150px;
        height: 150px;
    }
}

@media (max-width: 576px) {
    .custom-row img {
        width: 200px;
        height: 200px;
    }
}